<div class="grid-container">
  <h1 class="mat-h1">Tarifas</h1>
  <button
    class="button-float"
    mat-fab
    color="warn"
    (click)="openDialog({ isNew: true })"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="row">
    <div class="col-12 justify-content-center d-flex my-2" *ngIf="!rates">
      <mat-spinner></mat-spinner>
    </div>
    <div
      class="col-12 justify-content-center d-flex my-2"
      *ngIf="rates.length === 0"
    >
      <div class="h4 font-weight-lighter">No hay tarifas registradas</div>
    </div>
    <div
      class="col-12 col-sm-6 col-lg-4 d-flex my-2 mx-auto"
      *ngFor="let rate of rates"
    >
      <mat-card class="flex-fill">
        <mat-card-header>
          <mat-card-title class="ml-n3">
            {{ rate.name }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-menu-item
                (click)="openDialog({ rate: rate, isNew: false })"
              >
                Editar
              </button>
              <button mat-menu-item (click)="remove({ id: rate.id })">
                Eliminar
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle class="mb-2">Descripcion:</mat-card-subtitle>
          <p>
            {{ rate.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="text-center">
            <h4 class="mt-0 d-flex align-items-center justify-content-center">
              <mat-icon aria-label="Side nav toggle icon" class="mr-1">
                monetization_on
              </mat-icon>
              <span>
                {{ rate.value }}
              </span>
            </h4>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
