<h2 mat-dialog-title>
  <ng-container *ngIf="isNew">Registro de vehiculo.</ng-container>
  <ng-container *ngIf="!isNew">
    Edicion de vehiculo {{ data.entry.date_arrival }}
  </ng-container>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row" [formGroup]="entryForm">
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          matInput
          formControlName="plate"
          maxlength="7"
          placeholder="Placa"
          plate
        />
        <mat-error *ngIf="f.plate.errors">
          <span *ngIf="f.plate.errors?.invalidPlate">
            La placa no tiene un formato valido.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input matInput formControlName="place" placeholder="Lugar" />
        <mat-error *ngIf="submitted && f.place.errors">
          getErrorMessage()
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          matInput
          type="date"
          formControlName="date_arrival"
          placeholder="Fecha de ingreso"
        />
        <mat-error *ngIf="submitted && f.date_arrival.errors">
          getErrorMessage()
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          matInput
          type="time"
          formControlName="hour_arrival"
          [errorStateMatcher]="errorMatcher"
          placeholder="Hora de ingreso"
        />
        <mat-error *ngIf="f.hour_arrival.errors">
          <ng-container *ngIf="f.hour_arrival.errors?.invalidNumber">
            Debe escribir un numero valido.
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="add()" cdkFocusInitial>
    {{ isNew ? "Agregar" : "Editar" }}
  </button>
</mat-dialog-actions>
