<div class="grid-container">
  <h1 class="mat-h1 font-weight-light text-center mt-3">
    Historial de vehiculos que han estado en el parkeadero.
  </h1>
  <div class="row">
    <div class="col-12 justify-content-center d-flex my-2" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col-12 my-2">
      <mat-form-field class="w-100">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
      <div class="mat-elevation-z8 container overflow-auto">
        <table
          mat-table
          class="w-100 {{ loading ? 'd-none' : '' }}"
          [dataSource]="dataSource"
          matSort
          multiTemplateDataRows
        >
          <!-- ID Column -->
          <ng-container matColumnDef="actions" class="d-flex">
            <th mat-header-cell *matHeaderCellDef>
              Acciones
            </th>
            <td mat-cell *matCellDef="let row">
              <button
                mat-icon-button
                aria-label="Toggle menu"
                (click)="openDialogCreateExit({ row: row, isNew: false })"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                aria-label="Toggle menu"
                (click)="remove({ id: row.id })"
              >
                <mat-icon>cancel</mat-icon>
              </button>
              <button
                mat-icon-button
                aria-label="Toggle menu"
                (click)="andres(row, expandedElement)"
              >
                <mat-icon *ngIf="expandedElement == row">
                  arrow_drop_up
                </mat-icon>
                <mat-icon *ngIf="!expandedElement || expandedElement != row">
                  arrow_drop_down
                </mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Plate Column -->
          <ng-container matColumnDef="plate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
            <td mat-cell *matCellDef="let row">
              {{ row.plate }}
            </td>
          </ng-container>

          <!-- Date_arrival Column -->
          <ng-container matColumnDef="date_arrival">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha y Hora de llegada.
            </th>
            <td mat-cell class="text-center" *matCellDef="let row">
              <span class="d-block">
                {{ row.time_entry_format.split(" ")[0] }}
              </span>
              <span class="d-block">
                {{ row.time_entry_format.split(" ")[1] }}
              </span>
            </td>
          </ng-container>

          <!-- Date_departure Column -->
          <ng-container matColumnDef="date_departure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha y Hora de salida.
            </th>
            <td mat-cell class="text-center" *matCellDef="let row">
              <span class="d-block">
                {{ row.time_exit_format.split(" ")[0] }}
              </span>
              <span class="d-block">
                {{ row.time_exit_format.split(" ")[1] }}
              </span>
            </td>
          </ng-container>

          <!-- Total_time Column -->
          <ng-container matColumnDef="total_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Tiempo total
            </th>
            <td mat-cell *matCellDef="let row" class="text-rigth">
              {{ convertMinutes(row.total_time) }}
            </td>
          </ng-container>

          <!-- Rate value Column -->
          <ng-container matColumnDef="rate_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Valor de la tarifa
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              [style.rate_value]="row.rate_value"
            >
              {{ row.rate_value }}
            </td>
          </ng-container>

          <ng-container matColumnDef="ammount_to_paid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Total a pagar
            </th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex align-items-center">
                <span>
                  $ {{ numberWithCommas(row.ammount_to_paid) }} Pesos
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Descuento
            </th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex align-items-center">
                <span> $ {{ numberWithCommas(row.discount) }} Pesos </span>
              </div>
            </td>
          </ng-container>
          <!-- Place Column -->
          <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar</th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex align-items-center">
                <mat-icon aria-label="Side nav toggle icon" class="mr-1">
                  place
                </mat-icon>
                <span>
                  {{ row.place }}
                </span>
              </div>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="displayedColumns.length"
            >
              <div
                class="row"
                [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                "
              >
                <div class="col-12 mx-auto col-lg-6 col-md-10">
                  <mat-card class="flex-fill w-100 my-4">
                    <mat-card-header>
                      <mat-card-title class="ml-n3">
                        {{ element.vehicle?.plate }}
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-card-subtitle class="mb-2 h6"
                        >Información del ticket:
                      </mat-card-subtitle>
                      <div class="d-block ml-1">
                        <mat-card-subtitle class="mb-2"
                          >Vehiculo:
                        </mat-card-subtitle>
                        <div class="ml-2 font-weight-light">
                          <div class="d-flex">
                            Placa:
                            <span class="ml-auto font-weight-bold">
                              {{ element.dataAll?.entry?.vehicle.plate }}
                            </span>
                          </div>
                          <div class="d-flex">
                            Marca:
                            <span class="ml-auto font-weight-bold">
                              {{ element.dataAll?.entry?.vehicle.brand }}
                            </span>
                          </div>
                          <div class="d-flex">
                            Año:
                            <span class="ml-auto font-weight-bold">
                              {{ element.dataAll?.entry?.vehicle.year }}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="d-block ml-1">
                        <mat-card-subtitle class="mb-1"
                          >Fecha y hora de ingreso:
                        </mat-card-subtitle>
                        <p class="ml-2">{{ element.time_entry_format }}</p>
                      </div>
                      <div class="d-block ml-1 mb-1">
                        <div class="d-flex my-auto align-items-center">
                          <mat-card-subtitle class="my-auto"
                            >Lugar:
                          </mat-card-subtitle>
                          <p class="ml-auto my-auto font-weight-bold">
                            {{ element.place }}
                          </p>
                        </div>
                      </div>
                      <div class="d-block ml-1">
                        <mat-card-subtitle class="mb-2"
                          >Fecha y hora de salida:
                        </mat-card-subtitle>
                        <p class="ml-2">{{ element.time_exit_format }}</p>
                      </div>
                      <div class="d-block ml-1">
                        <mat-card-subtitle class="mb-2"
                          >Tiempo Total:
                        </mat-card-subtitle>
                        <p>{{ convertMinutes(element.total_time) }}</p>
                      </div>
                      <div class="d-block ml-1">
                        <mat-card-subtitle class="mb-2"
                          >Tarifa:
                        </mat-card-subtitle>
                        <div class="ml-2 font-weight-light">
                          <div class="d-flex mb-2">
                            <span style="width: 70px">
                              Nombre:
                            </span>
                            <span class="ml-4">
                              {{ element.rate_name }}
                            </span>
                          </div>
                          <div class="d-flex mb-2">
                            <span style="width: 70px">
                              Descripcion:
                            </span>
                            <span class="ml-4">
                              {{ element.rate_description }}
                            </span>
                          </div>
                          <div class="d-flex mb-2">
                            <span style="width: 70px">
                              Valor:
                            </span>
                            <span class="ml-4 font-weight-bold">
                              {{ element.rate_value }}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="d-block ml-1 text-center font-weight-bold">
                        <mat-card-subtitle class="mb-2"
                          >Total a pagar:
                        </mat-card-subtitle>
                        <p>
                          {{ numberWithCommas(element.ammount_to_paid) }} Pesos
                        </p>
                      </div>
                      <div class="d-block ml-1 text-center font-weight-bold">
                        <mat-card-subtitle class="mb-2"
                          >Descuento:
                        </mat-card-subtitle>
                        <p>{{ numberWithCommas(element.discount) }} Pesos</p>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: displayedColumns"
            class="exits-element-row"
            [class.exits-expanded-row]="expandedElement === element"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="exits-detail-row"
          ></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div
      class="col-12 col-sm-6 col-lg-4 col-xs-3 d-flex my-2"
      *ngFor="let entry of exits"
    >
      <mat-card class="flex-fill">
        <mat-card-header>
          <mat-card-title class="ml-n3">
            {{ entry.plate }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-menu-item
                (click)="openDialog({ entry: entry, isNew: false })"
              >
                Editar
              </button>
              <button mat-menu-item (click)="remove({ id: entry.id })">
                Eliminar
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="d-block">
            <mat-card-subtitle class="mb-2"
              >Fecha de ingreso:
            </mat-card-subtitle>
            <p>{{ entry.date_departure }}</p>
          </div>
          <div class="d-block">
            <mat-card-subtitle class="mb-2"
              >Hora de ingreso:
            </mat-card-subtitle>
            <p>{{ entry.hour_departure }}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="text-center">
            <div class="d-block">
              <mat-icon aria-label="Side nav toggle icon" class="mr-1">
                place
              </mat-icon>
            </div>
            <h6
              class="mt-0 d-flex align-items-center justify-content-center font-weight-light"
            >
              {{ entry.place }}
            </h6>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
