tr.exits-detail-row {
  height: 0;
}

.exits-element-row td {
  border-bottom-width: 0;
}

.exits-element-detail {
  overflow: hidden;
  display: flex;
}
.actionWidthClass {
  flex: 0 0 75px;
}
.customWidthClass {
  flex: 0 0 175px;
}

.mat-column-actions {
  width: 14% !important;
}
