<h2 mat-dialog-title>
  <ng-container >Retirar el vehiculo.</ng-container>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row" [formGroup]="entryForm">
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-select placeholder="Selecciona la tarifa" formControlName="rate">
          <mat-option *ngFor="let rate of rates" [value]="rate.id">
            {{ rate.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && f.rate.errors">
          Este campo es necesario.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          matInput
          type="date"
          formControlName="date_departure"
          placeholder="Fecha de salida"
        />
        <mat-error *ngIf="submitted && f.date_departure.errors">
          getErrorMessage()
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <input
          matInput
          type="time"
          formControlName="hour_departure"
          [errorStateMatcher]="errorMatcher"
          placeholder="Hora de salida"
        />
        <mat-error *ngIf="f.hour_departure.errors">
          <ng-container *ngIf="f.hour_departure.errors?.invalidNumber">
            Debe escribir un numero valido.
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="addExit()" cdkFocusInitial>
    Agregar
  </button>
</mat-dialog-actions>
