<div class="container">
  <h3>Text base</h3>
  <mat-form-field floatLabel="never" class="w-100 mb-4">
    <textarea
      matInput
      placeholder=""
      rows="4"
      [(ngModel)]="text"
      (keyup)="initDynamicallyForm()"
    ></textarea>
  </mat-form-field>
  <h3>Form</h3>
  <div class="row" [formGroup]="entryForm">
    <div class="col-12">
      <ng-container *ngFor="let item of textEnd">
        <ng-container *ngIf="isString(item); else elseTemplate">
          {{ item }}
        </ng-container>
        <ng-template #elseTemplate>
          <mat-form-field floatLabel="never" style="max-width: 70px;">
            <input
              matInput
              formControlName="{{ item.input }}"
              maxlength="7"
              placeholder=""
              mat-raised-button="f[item.input].errors"
              [matTooltip]="f[item.input].errors?.diferent"
            />
            <mat-error *ngIf="f[item.input].errors">
            </mat-error> </mat-form-field
        ></ng-template>
      </ng-container>
    </div>
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="send()"
        cdkFocusInitial
      >
        Send
      </button>
    </div>
  </div>
</div>
